.link{
    text-decoration: none;
}

.card {
    margin: 16px;
    width: 300px;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.096);
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            200px
            6fr
        )
    );
    gap: 16px;
    /* width: 300px; */
    /* overflow: hidden; */
    transition: 0.3s;
    animation: ease-in-out;
    box-shadow: 0px 0px 10px 0px rgb(175 26 132);
    border-radius: 25px;
}

.card:hover {
    transform: scale(1.05);
    /* box-shadow: 0ex 0ex 4ex 0.5ex rgb(255, 255, 255); */
    box-shadow: 0ex 0ex 3ex 1ex rgb(116, 14, 87);
}

.namedog {
    margin: 8px 5px;
    font-family: "Segoe Print";
    font-size: 25px;
    text-decoration-line: none;
    text-align: center;
    color:rgb(252, 226, 192);
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.tempdog {
    margin: 8px 5px;
    text-align: center;
    color: rgb(0, 0, 0);
    /* text-transform: uppercase; */
    text-shadow: 0ex 0ex 1ex cornsilk;
}

.image{
    /* width: 100%;
    height: 100%; */
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.weightdog {
    margin: 8px 5px;
    font-family: "Comic Sans MS";
    /* font-family: Arial; */
    font-size: 18px;
    text-align: center;
    color:rgb(0, 0, 0);
    /* text-shadow: 0.1ex 0.1ex 0ex black; */
    text-shadow: 0ex 0ex 1ex cornsilk;
}







